.page-wrapper {
    position: relative;
    padding: 150px 0 65px;
    background: var(--#{$prefix}light);
    background-image: url("../../images/other/pattern.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 22%;

    @include media-breakpoint-down(xl) {
        background-size: 50%;
    }

    @include media-breakpoint-down(md) {
        background-size: 0;
    }
}

.fliter_inpur {
    i {
        position: absolute;
        left: 12px;
        top: 9px;
    }

    input {
        padding-left: 35px;
    }
}

#dataTheme {
    .bi-moon-stars {
        display: inline-block;
    }

    .bi-sun {
        display: none;
    }
}

[data-bs-theme="dark"] {

    #dataTheme {
        .bi-moon-stars {
            display: none;
        }

        .bi-sun {
            display: inline-block;
        }
    }

    .apexcharts-tooltip {
        background: var(--#{$prefix}light) !important;
        border-color: var(--#{$prefix}border-color) !important;

        .apexcharts-tooltip-title {
            background: var(--#{$prefix}light) !important;
            border-bottom-color: var(--#{$prefix}border-color) !important;
        }
    }

        .apexcharts-gridline{
            stroke: var(--#{$prefix}border-color) !important;
        }

}

.contact_form {
    .form-control {
        color: $white;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: rgba($white, 0.50);
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba($white, 0.50);
    }

    ::placeholder {
        color: rgba($white, 0.50);
    }
}
