<app-navbar></app-navbar>
<div class="position-relative">
  <div class="admin-page-wrapper">
    <h5 class="mb-4">Manage jobs!</h5>

    <div class="row">
      <div class="col-lg-12">
        <div class="card" [ngClass]="{ 'border': darkTheme, 'border-0 shadow-md': !darkTheme }">
          <div class="card-header border-0 pb-2 d-flex align-items-center">
            <h6 class="font-16 mb-0 flex-grow-1">Jobs Listings</h6>
            <div class="flex-shrink-0">
              <button class="btn btn-sm btn-primary" type="button">
                <i class="bi bi-plus-circle me-1"></i> Add Job
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="overflow-hidden" x-data="data()">
              <table class="table font-14 align-middle">
                <thead>
                  <tr>
                    <th (click)="jobData.sortByColumn('Title')">Title</th>
                    <th (click)="jobData.sortByColumn('Applications')">Applications</th>
                    <th (click)="jobData.sortByColumn('Date Expired')">Date Expired</th>
                    <th (click)="jobData.sortByColumn('Status')">Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let job of jobData.sortedData">
                    <td>
                      <a [href]="job.Link" class="d-inline-flex align-items-center gap-2">
                        <img [src]="job.ImageSrc" alt="" height="40" class="rounded">
                        <div>
                          <h6 class="mb-2 font-14">{{ job.Title }}</h6>
                          <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                            <li><i class="bi bi-geo-alt align-baseline me-1"></i> <span>{{ job.Location }}</span></li>
                            <li class="vr"></li>
                            <li><i class="bi bi-cash align-baseline me-1"></i> <span>{{ job.Salary }}</span></li>
                          </ul>
                        </div>
                      </a>
                    </td>
                    <td><a [href]="job.ApplicationsLink">{{ job.Applications }}</a></td>
                    <td>{{ job['Date Expired'] }}</td>
                    <td [innerHTML]="job.Status"></td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                          <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                          <a href="#!" class="link-secondary"><i class="bi bi-pencil-square"></i></a>
                          <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                  </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <p class="mb-0 text-muted text-center text-lg-start font-14 mb-3 mb-lg-0">Showing <b>36</b> of
                  <b>497</b> Jobs</p>
              </div>
              <div class="col-lg-6">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center justify-content-lg-end mb-0 pagination-sm">
                    <li class="page-item">
                      <a class="page-link square-xs" href="#" aria-label="Previous">
                        <i class="bi bi-chevron-left"></i>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link square-xs" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link square-xs" href="#">2</a></li>
                    <li class="page-item"><a class="page-link square-xs" href="#">3</a></li>
                    <li class="page-item"><a class="page-link square-xs" href="#">4</a></li>
                    <li class="page-item"><a class="page-link square-xs" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link square-xs" href="#" aria-label="Next">
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
