/************_buttons.scss*************/

@each $color, $value in $theme-colors { 
  .btn-#{$color} {
    &.btn-soft {
      --#{$prefix}btn-color: var(--#{$prefix}#{$color});
      --#{$prefix}btn-bg: var(--#{$prefix}#{$color}-bg-subtle);
      --#{$prefix}btn-border-color: var(--#{$prefix}#{$color}-bg-subtle);
      --#{$prefix}btn-hover-color: #{color-contrast($value)};
      --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$color});
      --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$color});
      --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}#{$color}-rgb);
      --#{$prefix}btn-active-color: #{color-contrast($value)};
      --#{$prefix}btn-active-bg: var(--#{$prefix}#{$color});
      --#{$prefix}btn-active-border-color: var(--#{$prefix}#{$color});
      --#{$prefix}btn-disabled-color: #{color-contrast($value)};
      --#{$prefix}btn-disabled-bg: var(--#{$prefix}#{$color});
      --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color});
    }
  }
}

.btn-effect {
  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.btn-square{
  height: 42.09px;
  width: 42.09px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-bookmark{
  height: 36px;
  width: 36px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  vertical-align: middle;
}