/************_square.scss*************/

.square-xxs {
    width: 2rem;
    height: 2rem;
}

.square-xs {
    width: 2.5rem;
    height: 2.5rem;
}

.square-sm {
    width: 3rem;
    height: 3rem;
}

.square-md {
    width: 3.5rem;
    height: 3.5rem;
}

.square-lg {
    width: 4rem;
    height: 4rem;
}

.square-xl {
    width: 4.5rem;
    height: 4.5rem;
}

.square-xxl {
    width: 5rem;
    height: 5rem;
}

.square-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}