<body class="bg-light min-vh-100 d-flex align-items-center justify-content-center">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card" [ngClass]="{ 'border': darkTheme, 'border-0 shadow-md': !darkTheme }">
                  <div class=" card-body p-4 m-2">
          <h4 class="mb-4">Sign In</h4>
          <a href="#!" class="btn btn-link border w-100 text-danger"><i class="bi bi-google me-1"></i> Continue with
            Google</a>

          <div class="text-muted py-4 text-center">
            OR
          </div>

          <div>
            <form>
              <div class="mb-3">
                <label for="userNameEmail" class="form-label font-15 fw-medium">UserName / Email</label>
                <input type="text" class="form-control" id="userNameEmail" placeholder="Enter username / email">
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label font-15 fw-medium">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
                <div class="text-end pt-1">
                  <a href="#!" class="text-end text-success font-14 fw-medium">Forgot Password ?</a>
                </div>
              </div>
              <button type="submit" class="btn btn-secondary w-100">Sign In</button>
            </form>

            <p class="mb-0 text-muted font-14 mt-3 text-center">Need an account? <a routerLink="/auth-signup"
                class="fw-medium">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
