<body class="bg-light min-vh-100 d-flex align-items-center justify-content-center">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <div class="card" [ngClass]="{ 'border': darkTheme, 'border-0 shadow-md': !darkTheme }">
          <div class="card-body p-4 m-2">
            <div class="text-center">
              <img src="assets/images/logout.png" alt="" class="square-sm">
              <h6 class="font-17 mt-4">You are not currently logged in.</h6>
              <p class="text-muted font-14 mb-4 pb-1">Thank you for utilizing the Hiresy Job board template.</p>
              <a routerLink="/auth-signin" class="btn btn-primary w-100">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <button @click="darkTheme = !darkTheme" class="btn btn-danger rounded-end-0 position-fixed custom-dark-button">
    <i class="bi bi-brightness-high" :class="{ 'd-block': darkTheme, 'd-none': !darkTheme }"></i>
    <i class="bi bi-moon-stars" :class="{ 'd-none': darkTheme, 'd-block': !darkTheme }"></i>
  </button> -->
</body>
