<div class="offcanvas offcanvas-sidebar offcanvas-start bg-body-secondary" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="sidebar-left fixed-bottom bg-body-secondary shadow-md top-0 bottom-0 left-0">
    <div class="d-flex align-items-center justify-content-center navbar-brand">
      <a href="#!">
        <img src="assets/images/logo-dark.png" alt="" height="26" [class.d-none]="darkTheme" [class.d-block]="!darkTheme">
        <img src="assets/images/logo-light.png" alt="" height="26" [class.d-block]="darkTheme" [class.d-none]="!darkTheme">
      </a>
    </div>
    <div class="sidebar-navbar-menu">
      <ul class="list-unstyled">
        <li>
          <a routerLink="/"><i class="bi bi-cast"></i> Dashboards</a>
        </li>
        <li>
          <a routerLink="/admin-manage-jobs"><i class="bi bi-gem"></i> Manage Jobs</a>
        </li>
        <li>
          <a routerLink="/admin-manage-candidate"><i class="bi bi-person-plus"></i> Manage Candidates</a>
        </li>
        <li>
          <a routerLink="/admin-create-post"><i class="bi bi-file-text"></i> Post New Job</a>
        </li>
        <li>
          <a routerLink="https://hiresy-landing-angular.vercel.app/pricing" target="_blank"><i class="bi bi-airplane"></i> Pricing Plan</a>
        </li>
        <li>
          <a routerLink="/profile"><i class="bi bi-person-circle"></i> Profile</a>
        </li>
        <li>
          <a routerLink="/auth-logout"><i class="bi bi-box-arrow-right"></i> Log Out</a>
        </li>
        <li>
          <a routerLink="https://hiresy-landing-angular.vercel.app/" target="_blank"><i class="bi bi-person-x-fill"></i> Delete Profile</a>
        </li>
      </ul>
    </div>
  </div>
</div>
