<app-navbar></app-navbar>
<div class="position-relative">
  <div class="admin-page-wrapper">
      <h5 class="mb-4">Create a New Job Listing!</h5>

      <div class="row">
          <div class="col-lg-12">
              <div class="card" [ngClass]="{ 'border': darkTheme, 'border-0 shadow-md': !darkTheme }">
                  <div class="card-header border-0 pb-2 d-flex align-items-center">
                      <h6 class="font-16 mb-0 flex-grow-1">Create a Post</h6>
                  </div>
                  <div class="card-body">
                      <form action="#!">
                          <div class="row g-3">
                              <div class="col-lg-12">
                                  <div>
                                      <label for="jobTitle" class="form-label font-15 fw-medium">Job Title</label>
                                      <input type="text" class="form-control" id="jobTitle" placeholder="Job title">
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <div>
                                      <label for="jobDescription" class="form-label font-15 fw-medium">Job Description</label>
                                      <textarea class="form-control" id="jobDescription" rows="3"></textarea>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div>
                                      <label for="emailInput" class="form-label font-15 fw-medium">Email Address</label>
                                      <input type="email" class="form-control" id="emailInput" placeholder="Email address">
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div>
                                      <label for="userNameInput" class="form-label font-15 fw-medium">Username</label>
                                      <input type="text" class="form-control" id="userNameInput" placeholder="Username">
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div>
                                      <label for="jobTypeInput" class="form-label font-15 fw-medium">Job Type</label>
                                      <select class="form-select" aria-label="Default select example" id="jobTypeInput">
                                          <option selected>Select Job Type</option>
                                          <option value="Full Time">Full Time</option>
                                          <option value="Part Time">Part Time</option>
                                          <option value="Freelancer">Freelancer</option>
                                          <option value="Internship">Internship</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div>
                                      <label for="offeredSalaryInput" class="form-label font-15 fw-medium">Offered Salary</label>
                                      <select class="form-select" aria-label="Default select example" id="offeredSalaryInput">
                                          <option selected>Select Offered Salary</option>
                                          <option value="$1000">$1000</option>
                                          <option value="$2000">$2000</option>
                                          <option value="$3000">$3000</option>
                                          <option value="$4000">$4000</option>
                                          <option value="$5000">$5000</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div>
                                      <label for="genderInput" class="form-label font-15 fw-medium">Gender</label>
                                      <select class="form-select" aria-label="Default select example" id="genderInput">
                                          <option value="Male">Male</option>
                                          <option value="Female">Female</option>
                                          <option value="Others">Other</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div>
                                      <label for="experienceInput" class="form-label font-15 fw-medium">Experience</label>
                                      <input type="text" class="form-control" id="experienceInput" placeholder="Experience">
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <div>
                                      <label for="deadlineDateInput" class="form-label font-15 fw-medium">Application Deadline Date</label>
                                      <input type="date" class="form-control" id="deadlineDateInput" placeholder="Experience">
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <div>
                                      <label for="locationInput" class="form-label font-15 fw-medium">Location</label>
                                      <input type="text" class="form-control" id="locationInput" placeholder="Location">
                                  </div>
                              </div>
                              <div class="col-lg-12 text-end">
                                  <button type="button" class="btn btn-secondary">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <app-footer></app-footer>
</div>
